---
import Stats from "../components/Stats.vue";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <nav class="mx-8 my-4">
    <a href="/" class="logo">Pu</a>
  </nav>
  <main class="container mx-auto px-5 sm:px-0">
    <h1>Pluto</h1>
    <h2 class="mb-16">
      Build your own REST API on blockchain using
      <span class="text-greenAccent-500 relative">
        <svg
          width="30"
          height="20"
          viewBox="0 0 30 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="absolute"
        >
          <rect width="30" height="20" fill="url(#pattern0)"></rect>
          <defs>
            <pattern
              id="pattern0"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_1_367"
                transform="matrix(0.00217391 0 0 0.00326087 0 -0.000543478)"
              ></use>
            </pattern>
          </defs>
          <img
            src="rusticon.png"
            class="w-9 right-16 bottom-9 absolute"
            alt="rust-icon"
          />
        </svg>
        Rust</span
      >
    </h2>
    <a target="_blank" href="https://github.com/pu0238/pluto">
      <button
        class="ease-out duration-300 font-lato font-regular px-10 py-2 rounded-3xl bg-greenAccent-500 text-xl border-0 hover:bg-greenAccent-600"
        >Documentation</button
      >
    </a>
    <Stats client:only />
  </main>
  <footer
    class="flex text-white justify-between my-4 font-consolas mt-16 container mx-auto px-5 sm:px-0"
  >
    <div>This site was blockchain-side rendered :D</div>
    <div>bkyz2-fmaaa-aaaaa-qaaaq-cai</div>
  </footer>
</Layout>
<style scoped>
  h1 {
    font-family: "Lato", sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 96px !important;
    margin: 0;
    color: var(--white);
  }
  h2 {
    font-family: "Josefin Sans", sans-serif !important;
    font-style: normal;
    font-weight: 300 !important;
    font-size: 48px !important;
    margin: 0;
    margin-bottom: 48px;
    color: var(--white);
  }
  code {
    margin: 4px 0;
    background: #27272a;
    padding: 12px;
    border-radius: 8px;
  }
</style>
