* {
  margin: 0;
  padding: 0;
}
:root {
  --accent: #60f78e;
  --accent-2: #9dfa42;
  --white: #fff;
  --dark: #18181b;
  --gray: #9e9e9e;
  --accent-gradient: linear-gradient(
    195.89deg,
    var(--accent-2) 5.24%,
    var(--accent) 88.92%
  );
}
html {
  font-family: "Lato", system-ui, sans-serif;
  background: var(--dark);
}
h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px !important;
  margin: 0;
  color: var(--white);
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px !important;
  margin: 0;
  margin-bottom: 48px;
  color: var(--white);
}
p a {
  font-family: "Josefin Sans", sans-serif;
  color: var(--accent);
  font-weight: 600;
}
p {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  margin-bottom: 48px;
  color: var(--gray);
}
pre {
  padding: 6px;
  line-height: 2;
  border-radius: 20px;
}
nav {
  margin-bottom: 120px;
}
code {
  margin: 4px 0;
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 48px !important;
  font-family: "Lato", sans-serif;

  background: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.font-consolas {
  font-family: "Consolas", sans-serif;
}
/* ScrollUi  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

/* Menu from .md */

.menu ul {
  color: var(--white);
  font-family: "Josefin Sans", sans-serif !important;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 17px !important;
}
.menu ul ul {
  color: var(--gray);
  font-family: "Lato", sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 13px !important;
  padding-left: 2px;
  margin-left: 7px;
}
@media only screen and (max-width: 600px) {
  .menu ul ul {
    padding-right: 20px;
  }
}
.menu ul ul li {
  border-left: 2px;
  border-style: solid;
  padding-left: 8px;
  padding-top: 5px;
}
.menu ul ul li:hover {
  border-left: 2px;
  border-color: var(--accent);
  border-style: solid;
  transition-timing-function: ease-out;
  transition: 0.5s;
}
@media only screen and (max-width: 621px) {
  .menu ul ul li {
    border: none;
    padding-top: 10px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 621px) {
  .menu ul ul li:hover {
    border: none;
  }
}
.menu ul ul li:has(> .activeUrl) {
  border-left: 2px;
  border-color: var(--accent);
  border-style: solid;
}

/* Article from .md */

.docView p {
  color: var(--white);
  font-family: "Lato", sans-serif !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 15px !important;
}
.docMargin p {
  margin: 10px !important;
}
.docMargin pre {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
