---
import Head from "../components/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Head
    title="Pluto - decentralized HTTP router"
    description="Pluto is decentralized HTTP router designed on Internet Computer to allow users to create decentralized rest-api infrastructure."
    url="https://t5mcf-cqaaa-aaaag-qcjna-cai.raw.icp0.io/"
  />
  <body>
    <slot />
  </body>
</html>
